<!DOCTYPE html>
<html>
<head>
    <title><% $title %></title>
</head>
<body>
<div>
    <h3 style="text-align: center;">image center drop</h3>
    <table style="margin: 0 auto;">
        <tr>
            <td>
                <p>horizontal</p>
                <img src="api/image/_centerCropHorizontal" style="display: block; border: 3px solid #ccc; margin: 0 auto;" />
            </td>
            <td>
                <p>horizontal small</p>
                <img src="api/image/_centerCropHorizontalSM" style="display: block; border: 3px solid #ccc; margin: 0 auto;" />
            </td>
        </tr>
        <tr>
            <td>
                <p>vertical</p>
                <img src="api/image/_centerCropVertical" style="display: block; border: 3px solid #ccc; margin: 0 auto;" />
            </td>
            <td>
                <p>vertical small</p>
                <img src="api/image/_centerCropVerticalSM" style="display: block; border: 3px solid #ccc; margin: 0 auto;" />
            </td>
        </tr>
    </table>
</div>
</body>
</html>