<!DOCTYPE html>
<html>
<head>
    <title><% $title %></title>
</head>
<body>
<div style="margin: 0 auto; width: 1000px;">
    <table>
        <tr>
            <td style="position: relative; padding: 0;">
                <img src="images/bg.jpg" style="width: 800px;" />
                <img src="api/image/_top" style="width: 78px; border: 1px solid red; border-top: 0; position: absolute; left: 361px; top: 0;" />
                <img src="api/image/_top_right" style="width: 78px; border: 1px solid red; border-top: 0; border-right: 0; position: absolute; right: 0; top: 0;" />
                <img src="api/image/_right" style="width: 78px; border: 1px solid red; border-right: 0; position: absolute; right: 0; top: 260px;" />
                <img src="api/image/_bottom_right" style="width: 78px; border: 1px solid red; border-bottom: 0; border-right: 0; position: absolute; right: 0; top: 521px;" />
                <img src="api/image/_bottom" style="width: 78px; border: 1px solid red; border-bottom: 0; position: absolute; left: 361px; top: 521px;" />
                <img src="api/image/_bottom_left" style="width: 78px; border: 1px solid red; border-bottom: 0; border-left: 0; position: absolute; left: 0; top: 521px;" />
                <img src="api/image/_left" style="width: 78px; border: 1px solid red; border-left: 0; position: absolute; left: 0; top: 260px;" />
                <img src="api/image/_top_left" style="width: 78px; border: 1px solid red; border-top: 0; border-left: 0; position: absolute; left: 0; top: 0;" />
                <img src="api/image/_centre" style="width: 78px; border: 1px solid red; position: absolute; left: 361px; top: 260px;" />
            </td>
        </tr>
    </table>
</div>
</body>
</html>