<!DOCTYPE html>
<html>
<head>
    <title><% $title %></title>
</head>
<body>
<div>
    <h3 style="text-align: center;">image drop</h3>
    <table style="margin: 0 auto;">
        <tr>
            <td style="position: relative; padding: 0;">
                <img src="api/image/_origin" style="display: block; width: 800px; border: 3px solid #ccc; margin: 0 auto;" />
                <img src="api/image/_top" style="width: 78px; border: 1px solid red; position: absolute; left: 363px; top: 2px;" />
                <img src="api/image/_top_right" style="width: 78px; border: 1px solid red; position: absolute; right: 2px; top: 2px;" />
                <img src="api/image/_right" style="width: 78px; border: 1px solid red; position: absolute; right: 2px; top: 263px;" />
                <img src="api/image/_bottom_right" style="width: 78px; border: 1px solid red; position: absolute; right: 2px; top: 524px;" />
                <img src="api/image/_bottom" style="width: 78px; border: 1px solid red; position: absolute; left: 363px; top: 524px;" />
                <img src="api/image/_bottom_left" style="width: 78px; border: 1px solid red; position: absolute; left: 2px; top: 524px;" />
                <img src="api/image/_left" style="width: 78px; border: 1px solid red; position: absolute; left: 2px; top: 263px;" />
                <img src="api/image/_top_left" style="width: 78px; border: 1px solid red; position: absolute; left: 2px; top: 2px;" />
                <img src="api/image/_centre" style="width: 78px; border: 1px solid red; position: absolute; left: 363px; top: 263px;" />
            </td>
        </tr>
    </table>
</div>
</body>
</html>