<!DOCTYPE html>
<html>
<head>
    <title><% $title %></title>
</head>
<body>
<div style="margin: 0 auto; width: 1000px;">
    <h1>TFPHP v0.6.2</h1>
    <h2>APIs</h2>
    <ul>
        <li><a href="css/tfhtml.css">test for getStaticRoutes (/css/tfhtml.css)</a> </li>
        <li><a href="js/tfhtml.js">test for getStaticRoutes (/js/tfhtml.js)</a> </li>
        <li><a href="class/123/doc/456.html">test for getRERoutes</a> </li>
        <li><a href="cropImage.html">test for crop image</a> </li>
        <li><a href="watermarkImage.html">test for watermark image</a> </li>
        <li><a href="api/user">test for api with database (user list)</a> </li>
        <li><a href="api/article">test for api with database (article list)</a> </li>
        <li><a href="api/restfulAPI/_user">test for RestfulAPI with database (user CRUD operations)</a> </li>
        <li><a href="api/restfulAPI/_article">test for RestfulAPI with database (article CRUD operations)</a> </li>
    </ul>
    <h2>pages</h2>
    <ul>
        <li><a href="users">test for datagrid (user list)</a> </li>
        <li><a href="articles">test for datagrid (article list)</a> </li>
        <li><a href="usersWithPages">test for datagrid with pages (user list)</a> </li>
        <li><a href="articlesWithPages">test for datagrid with pages (article list)</a> </li>
    </ul>
</div>
</body>
</html>