<!DOCTYPE html>
<html>
<head>
    <title><% $title %></title>
</head>
<body>
<div style="margin: 0 auto; width: 1000px;">
    <h1>TFPHP v0.7.0</h1>
    <h2>features</h2>
    <ul>
        <li><a href="css/tfhtml.css">test for getStaticRoutes (/css/tfhtml.css)</a> </li>
        <li><a href="js/tfhtml.min.js">test for getStaticRoutes (/js/tfhtml.min.js)</a> </li>
        <li><a href="class/123/doc/456.html">test for getRERoutes</a> </li>
        <li><a href="cropImage.html">test for crop image</a> </li>
        <li><a href="textImage.html">test for text image</a> </li>
        <li><a href="watermarkImage.html">test for watermark image</a> </li>
        <li><a href="centerCropImage.html">test for center crop image</a> </li>
    </ul>
    <h2>APIs</h2>
    <ul>
        <li><a href="api/tfdaoFastTest">test for classes about tfdao</a> </li>
    </ul>
</div>
</body>
</html>