<!DOCTYPE html>
<html>
<head>
    <title><% $title %></title>
</head>
<body>
<div style="margin: 0 auto; width: 1000px;">
    <h1>TFPHP v0.6.5</h1>
    <div>
        <a href="JavaScript:history.back()">back</a>
    </div>
    <h2>user list</h2>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>state</th>
                    <th>nick name</th>
                    <th>gender</th>
                    <th>birth</th>
                    <th>create time</th>
                    <th>update time</th>
                </tr>
            </thead>
            <tbody>
            <% for $user in $users %>
                <tr>
                    <td><% $user.userId %></td>
                    <td><% $user.userName %></td>
                    <td><% $user.state %></td>
                    <td><% $user.nickName %></td>
                    <td><% $user.gender %></td>
                    <td><% $user.birth %></td>
                    <td><% $user.createDT %></td>
                    <td><% $user.updateDT %></td>
                </tr>
            <% /for %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>